<div id="footer">
  <div class="message" align="center">
      <p class="muted credit">
      This site presents the results of on-going research. <br />
      The work is being supported by NSF (grants CNS-1351089 and CNS-1254035),
      DARPA (contract #FA8650-11-C-7190), a joint Columbia/Stanford Brown Institute
      grant, and Google and Microsoft gifts.
      All views and commentaries belong to the authors alone and may not be shared
      by the funding parties.
      </p>
  </div>
</div>
