<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
      <p class="lead">{{ site.bio }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Overview" %} active{% endif %}">
      <a href="/xray">Overview</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- <li class="sidebar-nav-item{% if page.title == "Blog" %} active{% endif %}"> -->
        <!-- <a href="/xray/blog">Blog</a> -->
      <!-- </li> -->
    </ul>

    <p>Made with <a href="http://hyde.getpoole.com/">hyde</a>.</p>
  </div>
</div>
